*, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(#ffffff,#405d5f);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    background-color: #cfd0d2;
    justify-content: space-between;
    display: flex;
}


nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

@keyframes fade {
    0% {opacity: 0; transform: translateX(-30%);}
    100% {opacity: 1; transform: translateX(0);}
}

nav div p{
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    animation: fade 1s ease-in-out;
}

nav ul li a{
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    color: #000000;
}

nav ul li:hover {
    background-color: #b9b9bb;
    transition: .3 ease-in-out;
    transition-delay: 0.2s;
    border-radius: 7px;
    border-bottom: 1px solid#000000;
}

marquee {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* CONTENT ABOUT */

@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(-30%);}
    100% {opacity: 1; transform: translateY(0);}
}

.content-about {
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}     

h1 {
    margin-top: 35px;
    margin-bottom: 13px;
    font-style: oblique;
}
/* CONTENT ABOUT END */

/* FOOTER */
footer{
    margin-top: auto;
    text-align: center;
    padding: 5px;
}
